{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- END: Head -->
    <body class="py-5">
        {% include 'header.html' %}
<style>
   
    .head{
            font-weight: 500;
        color: #455dbe;
    }
</style>
          <!-- BEGIN: Content -->
    <div class="content">
            <div class="flex items-center mt-8">
        <!-- <h2 class="intro-y text-lg font-medium mr-auto">View Opportunity</h2> -->
    </div>
    <h2 class="intro-y text-lg font-medium mt-10" style="text-align: center;font-size: 35px;color:#1e40af;padding-top: 30px;padding-bottom: 30px;border-bottom: solid 1px #bcbcbc21;">Meeting Details</h2>
    <!-- BEGIN: General Report -->
                        <div class="col-span-12 xl:col-span-9 mt-8">
                            
                            <div class="report-box-2 intro-y mt-5">
                                <div class="box grid grid-cols-12">
                                    <div class="col-span-12 lg:col-span-4 px-8 py-12 flex flex-col justify-center" style="    background: #d4e1ff;">
                                        <i data-lucide="pie-chart" class="w-10 h-10 text-pending"></i> 
                                        <div class="justify-start flex items-center text-slate-600 dark:text-slate-300"> </div>
                                        <div class="flex items-center justify-start mt-4">
                                            <div class="relative text-2xl font-medium ml-0.5"> <span class="absolute text-xl font-medium top-0 left-0 -ml-0.5"></span>{{ meeting.Lead.Company }}<br>{{ meeting.Lead.Phone }} / {{ meeting.Lead.Email }}</div>
                                            <a class="text-slate-500 ml-4" href=""></a>
                                        </div>
                                        <!-- <div class="mt-4 text-slate-500 text-xs">Last updated 1 hour ago</div> -->
                                       
                                    </div>
                                    <div class="col-span-12 lg:col-span-8 p-8 border-t lg:border-t-0 lg:border-l border-slate-200 dark:border-darkmode-300 border-dashed">
                                      
                                        <div class="tab-content px-5 pb-5">
                                            <div class="tab-pane active grid grid-cols-12 gap-y-8 gap-x-10" id="weekly-report" role="tabpanel" aria-labelledby="weekly-report-tab">
                                                <div class="col-span-6 sm:col-span-6 md:col-span-4">
                                                    <div class="text-slate-500 head">Reference No</div>
                                                    <div class="mt-1.5 flex items-center">
                                                        <div class="text-base">{{ meeting.Lead.Reference }}</div>
                                                        
                                                    </div>
                                                </div>
                                                <div class="col-span-12 sm:col-span-6 md:col-span-4">
                                                    <div class="text-slate-500 head">Salesman</div>
                                                    <div class="mt-1.5 flex items-center">
                                                        <div class="text-base">{{ meeting.Lead.Salesman.first_name }}<br>{{ meeting.Lead.Salesman.Mobile }}<br>{{ meeting.Lead.Salesman.email }}</div>
                                                    </div>
                                                </div>
                                                <div class="col-span-12 sm:col-span-6 md:col-span-4">
                                                    <div class="text-slate-500 head">Company Name</div>
                                                    <div class="mt-1.5 flex items-center">
                                                        <div class="text-base">{{ meeting.Lead.Company }}<br>{{ meeting.Lead.Phone }} / {{ meeting.Lead.Email }}</div>
                                                    </div>
                                                </div>
                                                <div class="col-span-12 sm:col-span-6 md:col-span-4">
                                                    <div class="text-slate-500 head">Time</div>
                                                    <div class="mt-1.5 flex items-center">
                                                        <div class="text-base">{{ meeting.From }} - {{ meeting.To }}</div>
                                                    </div>
                                                </div>
                                                <div class="col-span-12 sm:col-span-6 md:col-span-4">
                                                    <div class="text-slate-500 head"> Date</div>
                                                    <div class="mt-1.5 flex items-center">
                                                        <div class="text-base">{{ meeting.AddedDate }}</div>
                                                        
                                                    </div>
                                                </div>
                                                <div class="col-span-12 sm:col-span-6 md:col-span-4">
                                                    <div class="text-slate-500 head">Mode of Meeting</div>
                                                    <div class="mt-1.5 flex items-center">
                                                        <div class="text-base">{{ meeting.Mode }}</div>
                                                    </div>
                                                </div>
                                                <div class="col-span-12 sm:col-span-6 md:col-span-4">
                                                    <div class="text-slate-500 head">Description</div>
                                                    <div class="mt-1.5 flex items-center">
                                                        <div class="text-base">{{ meeting.Description }}
                                                        </div>
                                                    </div>
                                                </div>
                                            

                                                <!-- <div class="col-span-12 sm:col-span-6 md:col-span-4">
                                                    <div class="text-slate-500">Phone</div>
                                                    <div class="mt-1.5 flex items-center">
                                                        <div class="text-base">$72.000</div>
                                                        
                                                    </div>
                                                </div> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END: General Report -->
         
         <div class="pos intro-y grid grid-cols-12 gap-5 mt-5">
        <!-- BEGIN: Post Content -->
        <div class="intro-y col-span-12 lg:col-span-12">
           
           
            <div class="post intro-y overflow-hidden box mt-5">
                {% if meeting.Update_Date %}
                <div class="post__content tab-content">
                     <h2 style=" font-size: 30px; font-weight: 500; text-align: center; color: #1e40af; padding-top: 100px;">Meeting Update</h2>
                    <div id="content" class="tab-pane p-5 active" role="tabpanel" aria-labelledby="content-tab">
                        <!-- <div class="border border-slate-200/60 dark:border-darkmode-400 rounded-md p-5 mr-30"> -->
                           <!--  <div class="font-medium flex items-center border-b border-slate-200/60 dark:border-darkmode-400 pb-5">
                                <i data-lucide="chevron-down" class="w-4 h-4 mr-2"></i> Date
                            </div> -->
                            <!-- <div class="mt-5">
                                <label for="input-wizard-3" class="form-label"> Date</label>
                                <input id="input-wizard-2" type="text" class="form-control" placeholder="Company Name" readonly> 
                    
                             </div> -->
                           <!--  </div> -->
                        </div>
                        <div class="border border-slate-200/60 dark:border-darkmode-400 rounded-md p-5 mt-5">
                            <!-- <div class="font-medium flex items-center border-b border-slate-200/60 dark:border-darkmode-400 pb-5">
                                <i data-lucide="chevron-down" class="w-4 h-4 mr-2"></i> Description
                            </div> -->
                            <div class="mt-5">
                               <!--  <div  style="float:right;"><a href="#" data-tw-toggle="modal" data-tw-target="#new-order-modal2"><button class="btn btn-primary shadow-md mr-2">Reply</button></a></div>
                                <div>
 -->
                                   
                                    
                                    <!-- <label for="post-form-7" class="form-label" style="font-weight:600;">Name</label> -->
                                    <!-- <div>{{ meeting.Members }}</div><br> -->

                                    <!-- <label for="post-form-7" class="form-label" style="font-weight:600;">Date: </label><div>{{ meeting.Update_Date }}</div><br> -->
                                    <div style="text-align:justify;"><label for="post-form-7" class="form-label" style="font-weight:600;">Date: </label>   {{ meeting.Update_Date }}</div>
                                    <br>
                                    <div style="text-align:justify;"><label for="post-form-7" class="form-label" style="font-weight:600;">Description: </label>   {{ meeting.Update_Description }}</div>
                                    <br>
                                    <div style="text-align:justify;"><label for="post-form-7" class="form-label" style="font-weight:600;">Participents: </label>  {{ meeting.Members }}</div>
                                </div>
                                {% if meeting.Attachment.all %}
                                <div class="border border-slate-200/60 dark:border-darkmode-400 rounded-md p-5 mt-5">
                                    <div class="font-medium flex items-center border-b border-slate-200/60 dark:border-darkmode-400 pb-5"> <i data-lucide="chevron-down" class="w-4 h-4 mr-2"></i> Files & Attachments </div>
                                    <div class="mt-5">
                                       
                                        <div class="flex items-center mt-5">
                                            {% for u in meeting.Attachment.all %}
                                            {% if u.Format == 'image' %}
                                            <a href="{{ u.Attachment.url }}" target="_blank"><div class="w-24 h-24 relative image-fit mb-5 mr-5 cursor-pointer zoom-in mr-5">
                                                <img class="rounded-md" alt="" src="{{ u.Attachment.url }}">
                                                <!-- <div title="Remove this image?" class="tooltip w-5 h-5 flex items-center justify-center absolute rounded-full text-white bg-danger right-0 top-0 -mr-2 -mt-2"> <i data-lucide="x" class="w-4 h-4"></i> </div> -->
                                            </div></a>
                                            {% else %}
                                                <div class="file">
                                                    <a href="{{ u.Attachment.url }}" class="">
                                                        <div><img src="{% static 'images/download.png' %}"></div>
                                                    </a>
                                                </div>
            
                                                <div class="ml-4">
                                                    <a class="font-medium" href="">{{ u.Name }}</a> 
                                                    <!-- <div class="text-slate-500 text-xs mt-0.5">40 KB</div> -->
                                                </div><br>
                                            {% endif %}
                                            {% endfor %}

                                    
                                    <!-- <div class="dropdown ml-auto">
                                        <a class="dropdown-toggle w-5 h-5 block" href="javascript:;" aria-expanded="false" data-tw-toggle="dropdown"> <i data-lucide="more-horizontal" class="w-5 h-5 text-slate-500"></i> </a>
                                        <div class="dropdown-menu w-40">
                                            <ul class="dropdown-content">
                                                <li>
                                                    <a href="" class="dropdown-item"> <i data-lucide="users" class="w-4 h-4 mr-2"></i> Share File </a>
                                                </li>
                                                <li>
                                                    <a href="" class="dropdown-item"> <i data-lucide="trash" class="w-4 h-4 mr-2"></i> Delete </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div> -->

                                </div>
                              </div>
                            </div>
                            {% endif %}
                                
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <!-- END: Post Content -->
    </div>

    </div>
    <!-- END: Content -->
    <style>
        .dark-mode-switcher{
            display: none;
        }
        
    </style>
    </body>
{% endblock content %}