{% extends 'base.html' %}
{% load static %}
{% block content %}
        <div class="mobile-menu md:hidden">
            <div class="mobile-menu-bar">
                <a href="" class="flex mr-auto">
                    <img alt="Vertex Engineering LLC" class="w-6" src="{% static 'images/logo.png' %}">
                </a>
                <a href="javascript:;" class="mobile-menu-toggler"> <i data-lucide="bar-chart-2" class="w-8 h-8 text-white transform -rotate-90"></i> </a>
            </div>
            <div class="scrollable">
                <a href="javascript:;" class="mobile-menu-toggler"> <i data-lucide="x-circle" class="w-8 h-8 text-white transform -rotate-90"></i> </a>
                <ul class="scrollable__content py-2">
                    <li>
                        <a href="javascript:;.html" class="menu menu--active">
                            <div class="menu__icon"> <i data-lucide="home"></i> </div>
                            <div class="menu__title"> Dashboard <i data-lucide="chevron-down" class="menu__sub-icon transform rotate-180"></i> </div>
                        </a>
                        
                    </li>
                    <li>
                        <a href="javascript:;" class="menu">
                            <div class="menu__icon"> <i data-lucide="box"></i> </div>
                            <div class="menu__title"> Products <i data-lucide="chevron-down" class="menu__sub-icon "></i> </div>
                        </a>
                        <ul class="">
                            <li>
                                <a href="add-category.html" class="menu menu--active">
                                    <div class="menu__icon"> <i data-lucide="box"></i> </div>
                                    <div class="menu__title"> Add/Manage Category </div>
                                </a>
                            </li>
                            <li>
                                <a href="add-product.html" class="menu menu--active">
                                    <div class="menu__icon"> <i data-lucide="box"></i> </div>
                                    <div class="menu__title"> Add/Manage Products </div>
                                </a>
                            </li>
                            
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;" class="menu">
                            <div class="menu__icon"> <i data-lucide="shopping-bag"></i> </div>
                            <div class="menu__title"> Salesman <i data-lucide="chevron-down" class="menu__sub-icon "></i> </div>
                        </a>
                        <ul class="">
                            <li>
                                <a href="create-salesman.html" class="menu">
                                    <div class="menu__icon"> <i data-lucide="activity"></i> </div>
                                    <div class="menu__title"> Create Salesman </div>
                                </a>
                            </li>
                            <li>
                                <a href="edit-salesman.html" class="menu">
                                    <div class="menu__icon"> <i data-lucide="activity"></i> </div>
                                    <div class="menu__title"> Edit Salesman </div>
                                </a>
                            </li>
                            <li>
                                <a href="assign-target.html" class="menu">
                                    <div class="menu__icon"> <i data-lucide="activity"></i> </div>
                                    <div class="menu__title"> Assign Monthly Target <i data-lucide="chevron-down" class="menu__sub-icon "></i> </div>
                                </a>
                                
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="menu">
                            <div class="menu__icon"> <i data-lucide="inbox"></i> </div>
                            <div class="menu__title"> Leads </div>
                        </a>
                        <ul class="">
                            <li>
                                <a href="create-lead.html" class="menu">
                                    <div class="menu__icon"> <i data-lucide="file-plus"></i> </div>
                                    <div class="menu__title"> Create Lead </div>
                                </a>
                            </li>
                            <li>
                                <a href="manage-lead.html" class="menu">
                                    <div class="menu__icon"> <i data-lucide="activity"></i> </div>
                                    <div class="menu__title"> Manage Lead </div>
                                </a>
                            </li>
                            <li>
                                <a href="edit-lead.html" class="menu">
                                    <div class="menu__icon"> <i data-lucide="activity"></i> </div>
                                    <div class="menu__title"> Edit Lead <i data-lucide="chevron-down" class="menu__sub-icon "></i> </div>
                                </a>
                                
                            </li>
                            <li>
                                <a href="view-lead.html" class="menu">
                                    <div class="menu__icon"> <i data-lucide="activity"></i> </div>
                                    <div class="menu__title"> View Lead <i data-lucide="chevron-down" class="menu__sub-icon "></i> </div>
                                </a>
                                
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="opportunity.html" class="menu">
                            <div class="menu__icon"> <i data-lucide="hard-drive"></i> </div>
                            <div class="menu__title"> Opportunity </div>
                        </a>
                        
                    </li>
                    <li>
                        <a href="client.html" class="menu">
                            <div class="menu__icon"> <i data-lucide="edit"></i> </div>
                            <div class="menu__title"> Clients <i data-lucide="chevron-down" class="menu__sub-icon "></i> </div>
                        </a>
                        <ul class="">
                             <a href="clients.html" class="menu">
                            <div class="menu__icon"> <i data-lucide="edit"></i> </div>
                            <div class="menu__title"> View Clients </div>
                            </a>
                            <a href="create-schedule.html" class="menu">
                            <div class="menu__icon"> <i data-lucide="edit"></i> </div>
                            <div class="menu__title"> Create Schedule </div>
                        </a>
                        </ul>
                        
                    </li>
                    <li class="menu__devider my-6"></li>
                    
                    <li>
                        <a href="javascript:;" class="menu">
                            <div class="menu__icon"> <i data-lucide="users"></i> </div>
                            <div class="menu__title"> Reports <i data-lucide="chevron-down" class="menu__sub-icon "></i> </div>
                        </a>
                        <ul class="">
                            <li>
                                <a href="salesman-report.html" class="menu">
                                    <div class="menu__icon"> <i data-lucide="activity"></i> </div>
                                    <div class="menu__title"> Salesman wise report </div>
                                </a>
                            </li>
                            <li>
                                <a href="salestarget-report.html" class="menu">
                                    <div class="menu__icon"> <i data-lucide="activity"></i> </div>
                                    <div class="menu__title"> Sales target report </div>
                                </a>
                            </li>
                            <li>
                                <a href="top-customers.html" class="menu">
                                    <div class="menu__icon"> <i data-lucide="activity"></i> </div>
                                    <div class="menu__title"> Top Customers </div>
                                </a>
                            </li>
                            <li>
                                <a href="proposal-report.html" class="menu">
                                    <div class="menu__icon"> <i data-lucide="activity"></i> </div>
                                    <div class="menu__title"> Proposal wise report </div>
                                </a>
                            </li>
                            <li>
                            <a href="sales-comparison.html" class="top-menu">
                                <div class="top-menu__icon"> <i data-lucide="activity"></i> </div>
                                <div class="top-menu__title"> Sales comparison<br> with previous month  </div>
                            </a>
                        </li>
                            <li>
                                <a href="forecast-report.html" class="menu">
                                    <div class="menu__icon"> <i data-lucide="activity"></i> </div>
                                    <div class="menu__title"> Forecast report </div>
                                </a>
                            </li>
                        </ul>
                    </li>
                    
                    
                    <li class="menu__devider my-6"></li>
                     <li>
                    <a href="javascript:;" class="top-menu">
                        <div class="top-menu__icon"> <i data-lucide="sidebar"></i> </div>
                        <div class="top-menu__title"> Projects </div>
                    </a>
                </li>
                    
                </ul>
            </div>
        </div>
{% endblock content %}