{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- END: Head -->
    <body class="py-5">
        {% include 'header.html' %}
      
        <!-- BEGIN: Content -->
    <div class="content">

              <h2 class="intro-y text-lg font-medium mt-10" style="text-align: center;font-size: 35px;color:#1e40af;padding-top: 30px;padding-bottom: 30px;border-bottom: solid 1px #bcbcbc;">Setup Target</h2>
         <!--   <div class="intro-y box py-10 sm:py-20 mt-5">
        <h2 style=" font-size: 30px; font-weight: 500; text-align: center;
        color: #1e40af;">Add Category</h2>
    </div> -->
    <form action="" method="post">
        {% csrf_token %}
    <div class="grid grid-cols-12 gap-6 mt-5">
        <div class="intro-y col-span-12 flex flex-wrap xl:flex-nowrap items-center mt-2">
            
             <div class="intro-y col-span-12 sm:col-span-6">
                    <label for="input-wizard-4" class="form-label text-primary" style="font-weight:700;">Select Year</label>
                      
                     <div class="absolute rounded-l w-10 h-full flex items-center justify-center bg-slate-100 border text-slate-500 dark:bg-darkmode-700 dark:border-darkmode-800 dark:text-slate-400" style="height: 42px;">
                       <i data-lucide="calendar" class="w-4 h-4"></i>
                    </div>
                    <select data-placeholder="Select Category" id="year" name="year" class="tom-select w-full" style="width: 100px;" required>
                        <!-- <option value=" ">year</option> -->
                        <option id="year" value="{{y}}">{{y}}</option>
                        {% for year in years %}
                            <option value="{{ year }}">{{ year }}</option>
                        {% endfor %}
                    </select>
                </div>
        </div>
        <!-- BEGIN: Data List -->
        <div class="intro-y col-span-12 overflow-auto 2xl:overflow-visible">
            <table class="table table-report -mt-2">
                <thead>
                    <tr>
                        <th class="whitespace-nowrap">SL. NO.</th>
                        <th class="whitespace-nowrap">SALESMAN</th>
                        <th class=" whitespace-nowrap">TARGET</th>
                        <th class="whitespace-nowrap">ASSIGN TARGET </th>
                        <th class="whitespace-nowrap"></th> 
                    </tr>
                </thead>
                <tbody id="tbody">
                    {% for s in salesmans %}
                        <tr class="intro-x"> 
                            <td class="w-64">
                                <a href="" class=" whitespace-nowrap">{{ forloop.counter }}</a>
                            </td>
                            <td class="w-64 text-primary">
                                <a href="" class="font-medium whitespace-nowrap">{{ s.salesman.first_name }}</a>
                                <div class="text-slate-500 text-xs whitespace-nowrap mt-0.5">{{ s.salesman.Mobile }}</div>
                                <div class="text-slate-500 text-xs whitespace-nowrap mt-0.5">{{ s.salesman.email }}</div>
                                <input type="hidden" name="salesmans" value="{{ s.salesman.id }}">
                            </td>
                            
                            <td class="w-72 text-primary">
                                <div>{{ s.target.Targets }}</div>
                            </td>
                            <td  class="w-72">
                                <div class="whitespace-nowrap"><input id="input-wizard-2" type="text" class="form-control" name="targets" placeholder="Assign target"></div>
                            </td>
                            <td>
                                <div class="flex">
                                    
                                </div>
                            </td>
                        </tr>
                    {% endfor %}                                
                </tbody>
            </table>
            <div style="float:right;">
                <button type="submit" class="btn btn-primary w-24 inline-block mr-1 mb-2">Submit</button>          
            </div>
        </div>
        <!-- END: Data List -->
        <!-- BEGIN: Pagination -->
        <div class="intro-y col-span-12 flex flex-wrap sm:flex-row sm:flex-nowrap items-center">
            <nav class="w-full sm:w-auto sm:mr-auto">
                <ul class="pagination">
                    {% if salesmans.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{salesmans.previous_page_number}}">
                            <i class="w-4 h-4" data-lucide="chevrons-left"></i>
                        </a>
                    </li>
                    {% else %}
                    <li class="page-item">
                        <a class="page-link" href="">
                            <i class="w-4 h-4" data-lucide="chevrons-left"></i>
                        </a>
                    </li>
                    {% endif %}
                    <!-- <li class="page-item">
                        <a class="page-link" href="#">
                            <i class="w-4 h-4" data-lucide="chevron-left"></i>
                        </a>
                    </li> -->
                    <!-- <li class="page-item">
                        <a class="page-link" href="#">...</a>
                    </li> -->
                    {% for n in nums %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a>
                    </li>
                    {% endfor %}
                    <!-- <li class="page-item active">
                        <a class="page-link" href="#">2</a>
                    </li> -->
                    <!-- <li class="page-item">
                        <a class="page-link" href="#">3</a>
                    </li> -->
                    <!-- <li class="page-item">
                        <a class="page-link" href="#">...</a>
                    </li> -->
                    <!-- <li class="page-item">
                        <a class="page-link" href="#">
                            <i class="w-4 h-4" data-lucide="chevron-right"></i>
                        </a>
                    </li> -->
                    {% if salesmans.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{salesmans.next_page_number}}">
                            <i class="w-4 h-4" data-lucide="chevrons-right"></i>
                        </a>
                    </li>
                    {% else %}
                    <li class="page-item">
                        <a class="page-link" href="">
                            <i class="w-4 h-4" data-lucide="chevrons-right"></i>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
            <select class="w-20 form-select box mt-3 sm:mt-0">
                <option>10</option>
                <option>25</option>
                <option>35</option>
                <option>50</option>
            </select>
        </div>
        <!-- END: Pagination -->
    </div>
    </form>
    <!-- BEGIN: Delete Confirmation Modal -->
    <div id="delete-confirmation-modal" class="modal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body p-0">
                    <div class="p-5 text-center">
                        <i data-lucide="x-circle" class="w-16 h-16 text-danger mx-auto mt-3"></i>
                        <div class="text-3xl mt-5">Are you sure?</div>
                        <div class="text-slate-500 mt-2">Do you really want to delete these records? <br>This process cannot be undone.</div>
                    </div>
                    <div class="px-5 pb-8 text-center">
                        <button type="button" data-tw-dismiss="modal" class="btn btn-outline-secondary w-24 mr-1">Cancel</button>
                        <button type="button" class="btn btn-danger w-24">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END: Delete Confirmation Modal -->
    </div>
    <!-- END: Content -->
    <style>
        .dark-mode-switcher{
            display: none;
        }
        
    </style>
        <!-- BEGIN: Dark Mode Switcher-->
        <div data-url="top-menu-dark-regular-form.html" class="dark-mode-switcher cursor-pointer shadow-md fixed bottom-0 right-0 box border rounded-full w-40 h-12 flex items-center justify-center z-50 mb-10 mr-10">
            <div class="mr-4 text-slate-600 dark:text-slate-200">Dark Mode</div>
            <div class="dark-mode-switcher__toggle border"></div>
        </div>
        <!-- END: Dark Mode Switcher-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/base/jquery-ui.css">
    <script type="text/javascript">
        $(function() {
            $('.date-picker').datepicker( {
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true,
            dateFormat: 'MM yy',
            onClose: function(dateText, inst) { 
                $(this).datepicker('setDate', new Date(inst.selectedYear, inst.selectedMonth, 1));
            }
            });
        });

        $('#year').change(function(e){
		e.preventDefault()
        let year = $('#year').val()

        mydata = {'year':year}

        $.ajax({
        	url : "/g-t-d/",
        	type : 'POST',
        	data : mydata,
        	success : function(data){
                // output = ''
                // for(i=0; i < data.length; i++){
                //     console.log(data)
                //     // output += '<tr class="intro-x"><td class="w-64"><a href="" class=" whitespace-nowrap">{{ forloop.counter }}</a></td><td class="w-64 text-primary"><a href="" class="font-medium whitespace-nowrap">'+data[i].salesman.first_name+
                //     //     '</a><div class="text-slate-500 text-xs whitespace-nowrap mt-0.5">{{ s.salesman.Mobile }}</div><div class="text-slate-500 text-xs whitespace-nowrap mt-0.5">'+data[i].salesman.Mobile+
                //     //     '</div><input type="hidden" name="salesmans" value="{{ s.salesman.id }}"></td><td class="w-72 text-primary"><div>'+data[i].Target+
                //     //     '</div></td><td  class="w-72"><div class="whitespace-nowrap"><input id="input-wizard-2" type="text" class="form-control" name="targets" placeholder="Assign target"></div></td><td><div class="flex"></div></td></tr>'
                // }

                // $('#tbody').append(output)
                output = ''
                console.log(data)
                x = data.data
                if (data.status == 'success'){
                    for(i=0; i < x.length; i++){
                        console.log(x[i].id)
                        output += '<tr class="intro-x"><td class="w-64"><a href="" class=" whitespace-nowrap">'+i+'</a></td><td class="w-64 text-primary"><a href="" class="font-medium whitespace-nowrap">'+x[i].salesman+
                            '</a><div class="text-slate-500 text-xs whitespace-nowrap mt-0.5">'+x[i].mobile+
                            '</div><div class="text-slate-500 text-xs whitespace-nowrap mt-0.5">'+x[i].email+
                            '</div><input type="hidden" name="salesmans" value="'+x[i].id+
                            '"></td><td class="w-72 text-primary"><div>'+x[i].target+
                            '</div></td><td  class="w-72"><div class="whitespace-nowrap"><input id="input-wizard-2" type="text" class="form-control" name="targets" placeholder="Assign target"></div></td><td><div class="flex"></div></td></tr>'
                    }

                $('#tbody').html(output)

                }
        	}
        })
    })
    // var url = "/target-setup/";
    // var value = "";
    // $("select").change(function(e){
    //     e.preventDefault()
    //     // alert($(this).val());
    //     value = $(this).val();

    //     window.location.href = url+'?year='+value;

    //     const myKeysValues = window.location.search;
    //     const urlParams = new URLSearchParams(myKeysValues);

    //     const year = urlParams.get('year');

    //     $('#year').html(year)

    // });
    </script>
    </body>
{% endblock content %}
</html>